{% extends 'AppBundle::contracting.html.twig' %}
{% block body %}
    <div class="row-fluid">
       <div class="col-md-6">
         <h4>Select a Company to Shortlist to the dossier</h4>     
         {{ form_start(form) }}
          {% for company in form.companyName %}
              {{ form_row(company) }}
              {{ form_errors(company) }}    
          {% endfor %}
         {{ form_end(form) }} 
       </div>
    </div>
{% endblock %}

