{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="row-fluid">
       <div class="col-md-6">
            <h4>Uploading a new attachment</h4>
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Upload" class="btn btn-default pull-right"/>
                </div>
       </div>
    </div>
{{ form_end(form) }}
{% endblock %}

